h1 {
    color: black;
}

body {
    background-color: beige;
}

p {
    color: darkblue;
}
li {
    color: darkblue;
}
img {
    height: 300px;
    width: 350px;

}
nav ul li a{
    padding: 0.25em 1em;
    text-decoration: none; /*no underline*/
    background-color: #EBF5FF;
    color:#4312AE;
    border: 2px solid black;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;

}
nav ul li a:hover, nav ul li a:focus{
    color:black;
    background-color: white;
    font-weight: bold;
}
img{
    border-radius: 65px;
    border-style:double 
}
nav ul{
    list-style-type: none;

}
nav ul li{
    float: left;
    margin-right: 0.5em;
}
