  /* BASE STYLES */
    
* {
    font-family: "Helvetica Neue", Arial, sans-serif;
}
          body{
              background-color: dimgray;
          }
h1 {
    font-size: 42px;
    color:darkgoldenrod;
}

h2 {
   font-size: 26px;
   font-weight: 400;
   color: darkgoldenrod; 
    margin: auto;
    width: 95%;
}

h3 {
    color: #1B75BB;    
}

span {
    font-size: 14px;
    font-weight: bold;
}
          p:first-letter{
              color:darkgoldenrod;
              font-style:oblique;
              font-size: 40px;
          }
        /*Navigation menu styles*/
          nav ul{
              list-style-type: none;
              
          }
          nav ul li{
              float: left;
              margin-right: 0.5em;
          }
          nav ul li a{
              padding: 0.25em 1em;
              text-decoration: none; /*no underline*/
              background-color: #EBF5FF;
              color:#4312AE;
              border: 2px solid black;
              border-top-left-radius: 1em 1em;
              border-top-right-radius: 1em 1em;
              
          }
          nav ul li a:hover, nav ul li a:focus{
              color:black;
              background-color: white;
              font-weight: bold;
          }
p {
    font-family: Arial;
    font-size: 20px;
    color:black;
    margin: auto;
        width: 80%;
    background-color: blanchedalmond;
        border-radius: 15px;
    border-style: dotted
}
          img{
              border-radius: 65px;
              border-style:double 
          }
footer {
    font-size: 12px;
}

/* HEADER STYLES */

#brand {
    font-size: 18px;
    font-weight: 200;    
}  

#subtitle {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #000000; 
}

/* POD STYLES */

.btn-pod {
    font-size: 13px;
}